/* Universal Style */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

a {
  color: seashell;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.9;
}

.logo {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  flex-grow: 1;
  }

  .logo img {
    height: 50px;
  }

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
  }

header nav {
  padding-right: 20px;
  }

/* Main Content Container */

.content {
  display: block;
  padding-top: 69px;
}


  /* First Section */

.first-section {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  }

.first-section h2,
.first-section h4 {
 display: block;
 color: seashell;
 background-color: black;
 margin-top: 0;
 margin-bottom: 0;
 padding-top: 10px;
 padding-bottom: 10px;
 align-items: center;
 text-align: center;
}

  /* Second Section */

.image-content img {
  width: 300px;
  height: 200px;
}

.image-content h4 {
  margin-top: 10px;
}

.second-section {
  width: 1000px;
  margin: 0 auto;
}

.second-section h2,
.second-section h4 {
  text-align: center;
}

.first-row {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  }

.second-row {
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin-left: 175px;
  margin-right: 175px;
}

  /* Third Section */

  .third-section {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    width: 1200px;
    height: 500px;
    margin: 0 auto;

  }

  .info-boxes {
    width: 980px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 110px 100px 110px;
  }

  .address {
   width: 300px;
   height: 300px;
   text-align: center;
   background-color: black;
   opacity: 1.0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
  }

.title h2 {
  text-align: center;
  margin: 0;
}

.title {
  padding-top: 47px;
  padding-bottom: 0;
  margin: 0 auto;
}

/* Contact */

.contact {
  height: 200px;
  text-align: center;
}

/* Footer */

footer {
  margin-left: 20px;
  text-align: left;
}
